body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d1bea8;
    color: #555555;
}

h1{
    text-align: center; 
    vertical-align: text-top;
    padding-top: 5%;
    size: 60em;
}

h2{
    color: #555555;
    text-decoration: underline;
    size: 20em
}

hr{
    text-align: center;
    width: 100%;
    color: #555555;
}