body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center; 
    vertical-align: text-top;
    padding-top: 10%;
    size: 20em;
}

h2{
    color: #3f3f3f;
    text-decoration: underline;
    size: 10em
}