.body
{
    color: '#3f3f3f';
    text-align: center;
}
.h2
{
    color: '#3f3f3f';
    text-align: center;
}
.section
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left-col
{
    float: left;
    width: 48%;
    text-align: center;
    color: ivory;
}
.right-col
{
    float: right;
    width: 48%;
    text-align: center;
    color: ivory;
}